BODY{
    background-color: #d1eaeb;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;  /* Preferred icon size */
    display: inline;
    line-height: -1;
    text-transform: none;
    letter-spacing: 0.7em;
    word-wrap: normal;
    white-space: nowrap; 
    direction: ltr;
    vertical-align: sub;
};

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
   }
   
   h1, h2, h3, h6{
    font-family: 'Abril Fatface', serif;
    color: #ee3c33;
    border-style: dotted;
    border-color: rgb(204, 95, 95);
    padding: 2%;
   }
h1{
    font-size: 4em;
}

h2{
    font-size: 2.5em;
    margin-bottom: 11px;
}

h3{
    font-size: 2.3em;
}
h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2em;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    
}
*/

#nv{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #ee3c33;
}
#desc{
    
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    font-size: 1.4em;
    text-align: justify;
    text-justify: inter-word;
    line-height: 2em;
}
.imgRedonda{
    width:150px;
    height:150px;
    border-radius:150px;
    margin-bottom: 5px;
}
.imgCara{
    width:150px;
    height:150px;
    border-radius:150px;
    margin-bottom: 53px;
}
.card{
   
    margin-bottom: 6%;
    background-color: rgb(243, 243, 243);
}

.card-title{
    font-family:  'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 7px;
    text-transform: uppercase;
    font-size: 1.7em;
    padding: 2%;
    text-align: center;
}

.card-text{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-align: center;
}
.btn{
    font-family: 'Roboto', sans-serif;
    font-size: small;   
    background-color: #d1eaeb;
    position: sticky;
   
}
.btn:hover{
    font-family: 'Roboto', sans-serif;
    font-size: small;   
    background-color: #ee3c33;
}
.nav-item:hover{
    background-color: #ee3c33;
}

.card img{
    max-width: 100%;
    max-height: 400px;
}

.footer{
    font-size: 00.8em;
}

.links:hover{
    text-decoration: underline;
}

#mail{
    background-color: #ee3c33;
    color: black;
}

